body { background-color:white;}

.wrapper {
  display: flex;
  flex-direction: column;
}

h1   {color: blue;   
}

.sidebar{
  width: 20vw;
  height: 230vh;
  background-color: cornflowerblue;
  float: left;
}

.brand {
  border: 2px black solid;
  max-width: 70vw;
  float: left;
  
  }

 
.photo {
  transform: rotate(-90deg); 
  margin-left: 20vw;
  height: 20vh;
  width: 20vh;
  border-radius: 100%;
}


.pr {
  flex-direction: row;
  max-width: 60vw;
  margin: 3%;
  padding: 3%;
  border: 2px solid black;
  border-radius: 20px;
  float: right;
  
}

.prTextLeft{
  max-width: 45%;
  float: left;
}
.prImageLeft{
  float: left;
  max-width: 45%;
  
}

.prTextRight{
  max-width: 45%;
  float: right;
}

.prImageRight{
  float: right;
  max-width: 45%;
}

.content{
  float: right;
  
}

.blinking {
  animation: blinkText 2s infinite;
}

@keyframes blinkText{
  0%{color: #000;}
  10%{color: #000;}
  50%{color: transparent;}
  100%{color: #000;}
}